body {
  padding: 0;
  text-align: center;
  background-color: black;
  display: inline-flex;
  justify-content: space-evenly;
}

.game-intro {
  order: 1;
  float: top;
  padding-top: 75px;
  padding-right: 10px;
}

.game-intro p {
  font-size: 15px;
  font-family: "Orbitron";
  color: white;
  text-align: center;
  margin-top: 220px;
}

.logo-img {
  width: 325px;
  border-color: black;

}

body button {
  font-size: 20px;
  background-color:#2097FF;
  font-family: "Orbitron";
  color: white;
  
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
  order: 2;
  position: center;
  float: center;
  padding: 20px 0px;
}

#canvas {
  border-style: double;
  border-color: #6D0E10;
  
}



#console {
  order: 3;
  float: right;
  width: 325px;
  margin-top: 500px;
  color: #6D0E10;
}

#safeTimer  {
  font-size: 25px;
  font-family: "Orbitron";
  color: #6D0E10;
  text-align: center;
  float: right;
  width: 325px;
  margin-top: -650px;

  
}

#safeTimer  p{
  font-size: 35px;
  font-family: "Orbitron";
  color: white;
  text-align: center;

}

.bottom {
  width: 1000px;
  height: 75px;
}

#game-board p {
  order: 2;
  position: center;
  float: center;
  padding: 20px 0px;
  margin-top: -800px;
  color: white;
  font-size: 15px;
  font-family: "Orbitron";
  text-align: left;
  padding: 0 0 0 80px;
}

#scoreBoard {
  font-size: 25px;
  font-family: "Orbitron";
  color: #6D0E10;
  text-align: center;
  float: right;
  width: 325px;
  margin-top: -450px;
  
  

}

#score {
  color: white;
  font-size: 35px;
}



